<div class="container">
   <div class="row">
     <h4>配送先編集</h4>
   </div>
</div>

<%= form_with model: @address, local:true do |f| %>
<table class="container">
  <tr class="row">
    <td class="col-lg-3">郵便番号（ハイフンなし）</td>
    <td class="col-lg-5"><%= f.text_field :postal_code %></td>
  </tr>
  <tr class="row">
    <td class="col-lg-3">住所</td>
    <td class="col-lg-5"><%= f.text_field :address, size: 60 %></td>
  </tr>
  <tr class="row">
    <td class="col-lg-3">宛名</td>
    <td class="col-lg-5"><%= f.text_field :name %></td>
    <td class="col-lg-3"><%= f.submit '変更内容を保存' %></td>
  </tr>
</table>
<% end %>
