<div class="container">
   <div class="row">
     <h4>配送先登録/一覧</h4>
   </div>
</div>

<%= form_with model: @address, local: true do |f| %>
<table class="container">
  <tr class="row">
    <td class="col-lg-3">郵便番号（ハイフンなし）</td>
    <td class="col-lg-5"><%= f.text_field :postal_code %></td>
  </tr>
  <tr class="row">
    <td class="col-lg-3">住所</td>
    <td class="col-lg-5"><%= f.text_field :address, size: 60 %></td>
  </tr>
  <tr class="row">
    <td class="col-lg-3">宛名</td>
    <td class="col-lg-5"><%= f.text_field :name %></td>
    <td class="col-lg-1"><%= f.submit '新規登録' %></td>
  </tr>
</table>
<% end %>


<table class="container table">
  <tr class="row thead-light">
    <th class="col-lg-1">郵便番号</th>
    <th class="col-lg-3">住所</th>
    <th class="col-lg-1">宛名</th>
    <th class="col-lg-2"></th>
  </tr>
  <% @addresses.each do |address| %>
  <tr class="row">
    <td class="col-lg-1"><%= address.postal_code %></td>
    <td class="col-lg-3"><%= address.address %></td>
    <td class="col-lg-1"><%= address.name %> </td>
    <td class="col-lg-2">
      <%= link_to "編集する", edit_address_path(address) %>
      <%= link_to "削除する", address_path(address), method: :delete %>
    </td>
  </tr>
  <% end %>
</table>