<div class="container">
  <div class="row">
    <h4 class="col-lg-9">ショッピングカート</h4>
    <p class="col-lg-3"><%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete %> </p>
  </div>
</div>


<table class="container table">
  <tr class="row thead-light">
    <th class="col-lg-4">商品名</th>
    <th class="col-lg-2">単価（税込）</th>
    <th class="col-lg-2">数量</th>
    <th class="col-lg-2">小計</th>
    <th class="col-lg-2"></th>
  </tr>
  <% @sum = 0 %> <!--初期値-->
  <% @cart_items.each do |cart_item| %>
  <tr class="row">
    <td class="col-lg-4"><%= cart_item.item.name %></td>
    <td class="col-lg-2"><%= ((cart_item.item.price * 1.1).round(0)).to_s(:delimited) %></td>
    <td class="col-lg-2">
      <%= form_with model: cart_item, local: true, url:cart_item_path(cart_item), method: :patch do |f| %>
       <%#= f.select :amount, options_for_select((1..10).to_a, {selected: cart_item.amount}) %>
       <%= f.select :amount, options_for_select((1..10).to_a, {selected: cart_item.amount.to_i} ) %>
       <%= f.submit "変更" %>
      <% end %>
    </td>
    <td class="col-lg-2"><%= ((cart_item.item.price * 1.1).round(0) * cart_item.amount).to_s(:delimited) %></td>
    <td class="col-lg-2"><%= link_to "削除する", cart_item_path(cart_item), method: :delete %></td>
  </tr>
  <% @sum += (cart_item.item.price * 1.1).round(0) * cart_item.amount %>
  <% end %>
</table>

<table class="container table">
     <tr class="row">
       <td class="table-active col-lg-2">合計金額</td>
       <td class="col-lg-2"><%= @sum.to_s(:delimited) %></td>
     </tr>
</table>

<div class="container">
   <p><%= link_to "買い物を続ける", root_path %></p>
   <p><%= link_to  "情報入力に進む", new_order_path %></p>
</div>

