<h3>注文情報確認</h3>

<table>
  <tr>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
  </tr>
  <% @sum = 0 %> <!--初期値-->
  <% @cart_items.each do |cart_item| %>
  <tr>
    <td><%= cart_item.item.name %></td>
    <td><%= (cart_item.item.price * 1.1).round(0) %></td>
    <td><%= cart_item.amount %></td>
    <td><%= (cart_item.item.price * 1.1).round(0) * cart_item.amount %></td>
  </tr>
  <% @sum += (cart_item.item.price * 1.1).round(0) * cart_item.amount %>
  <% end %>
</table>
<table>
  <tr>
    <td>送料</td>
    <% @order.shipping = 800 %>
    <td><%= @order.shipping %></td>
  </tr>
  <tr>
    <td>商品合計</td>
    <td><%= @sum %></td>
  </tr>
  <tr>
    <td>請求金額</td>
    <% @order.total_payment = @sum + @order.shipping %>
    <td><%= @order.total_payment %></td>
  </tr>
</table>

<h4>支払い方法</h4>
<% if @order.method_payment = "クレジットカード" %>
   <p>クレジットカード</p>
<% elsif @order.method_payment = "銀行振込" %>
   <p>銀行振込</p>
<% end %>


<h4>お届け先</h4>
<p>
  〒<%= @order.postal_code %><%= @order.address %> </br>
  <%= @order.name %>
</p>

<%= form_with model: @order, local: true, url: orders_path, method: :post do |f| %>
<!--https://sakurawi.hateblo.jp/entry/hidden_field-->
   <%= hidden_field(:order, :postal_code) %>
   <%= hidden_field(:order, :address) %>
   <%= hidden_field(:order, :name) %>
   <%= hidden_field(:order, :method_payment) %>
   <%= f.submit "注文を確定する" %>
<% end %>
