
<div class="container">
  <div class="row">
   <div class="col-lg-3">
    <%= attachment_image_tag @item, :image, style: "width: 250px;" %>
   </div>
   <div class="col-lg-5">
    <h4 class="item_name"><%= @item.name %></h4>
    <p><%= @item.introduction %></p>
    </br>
    <p>¥<%= @item.price.to_s(:delimited) %>(税込)</p>
   </div>
  </div>
  <div class="row">
   <div class="col-lg-3"></div>
   <div class="col-lg-5">
    <%= form_with model: @cart_item, local: true, url:cart_items_path, method: :post do |f| %>
     <%= f.hidden_field :item_id, value: @item.id %>
     <%= f.select :amount, options_for_select((1..20).to_a), include_blank: "個数選択" %>
     <%= f.submit "カートに入れる" %>
    <% end %>
   </div>
  </div>
</div>



