<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <% if admin_signed_in? %>
           <li>LOGO</li>
           <li><%= link_to "商品一覧", admin_items_path %></li>
           <li><%= link_to"会員一覧", admin_customers_path %></li>
           <li><%= link_to "注文履歴一覧", admin_root_path %></li>
           <li><%= link_to "ジャンル一覧", admin_genres_path %></li>
           <li><%= link_to "ログアウト（管理者）", destroy_admin_session_path, method: :delete %></li>
          <% else %>
           <li>LOGO</li>
           <li><%= link_to "商品一覧", admin_items_path %></li>
           <li><%= link_to "新規登録(管理者)", new_admin_registration_path %></li>
           <li><%= link_to "ログイン（管理者）", new_admin_session_path %></li>
           <li><%= link_to "ログアウト（管理者）", destroy_admin_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </nav>
      <nav>
        <ul>
          <% if customer_signed_in? %>
          <li><%= link_to "マイページ", customers_my_page_path %></li>
           <li><%= link_to "商品一覧", items_path %></li>
           <li><%= link_to "カート", cart_items_path %></li>
           <li><%= link_to "ログアウト（ユーザー）", destroy_customer_session_path, method: :delete %></li>
          <% else %>
           <li><%= link_to "アバウト", about_path %></li>
           <li><%= link_to "商品一覧", items_path %></li>
            <li><%= link_to "新規登録(ユーザー)", new_customer_registration_path %></li>
           <li><%= link_to "ログイン（ユーザー）", new_customer_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
